[core]
# @TODO What does this option do?
#    repositoryformatversion = 0
# Automatically guessed by git-clone & git-init.
#    bare = false
# Logs updates to refs. On by default.
#    logallrefupdates = true
# Restore symlinks on checkout.
    symlinks = true
    hideDotFiles = dotGitOnly
    editor = editor
    excludesfile = ~/.gitignore_global    
    autocrlf = input
# The following options are useful for FAT like filesystems.
#    filemode = false
#    ignorecase = true
    
[commit]
    template = ~/.git_commit_template
[color]
	ui = true
[alias]
	co = checkout
[push]
	default = current

