[core]
    repositoryformatversion = 0
    filemode = false
    bare = false
    logallrefupdates = true
    symlinks = true
    ignorecase = true
    hideDotFiles = dotGitOnly
    editor = editor
    excludesfile = ~/.gitignore_global
    autocrlf = input
    mergeoptions = --no-ff
    
[commit]
    template = ~/.git_commit_template
[color]
	ui = true
[alias]
	co = checkout
[push]
	default = current

